@model IEnumerable<Fondef.Models.Cuenca>

@{
    ViewBag.Title = "Cuencas";
}


@section MyOtherJavascript {
    <script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=ES-es"></script>

    <script type="text/javascript" src="~/Scripts/BingMapsShapes.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            GetMap();
        });
    </script>
}

<div class="box-line title-margin">
    <h2 class="title-heading">@ViewBag.Title</h2>
</div>
@Html.ActionLink("Crear Nueva Cuenca", "Create")
<div class="display-container-right">
    <div class="row-fluid">
        <div class="span5">
            <table class="table table-striped">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Área
                    </th>
                    <th>
                        Código
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Area)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                <a onclick="setPolypointsFromView(@item.Coordinates);" href="#">Ver</a> |
                                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
        <!-- Debajo esta el div que contiene el mapa -->
        <div class="span7">
            <div id='map_shapes'></div>
        </div>
    </div>
</div>
